body {
  background: darkgrey;
}

* {
  margin: 0;
  padding: 0;
}
.grid::after {
  content: " ";
  display: block;
  clear: both;
}

.grid .column {
  width: 100px;
  height: 100px;
  background: red;
  margin: 15px;
  float: left;
}

